@{
    ViewData["Title"] = "About";
}

<article>
    <h1>About</h1>
    <p>GreekTrans 是一个开源的希腊文罗马化软件: <a href="https://github.com/tsing26/Greektrans">https://github.com/tsing26/Greektrans</a></p>
</article>
